<div class="container">
  <h1>Create a new trip</h1>
  <div class="col-xs-12 content-box-create">
    <div class="content-headline-green">
      <h4>Where do you want to go?</h4>
    </div>
    <%= form_tag(trips_path, method: :post, class: "form-inline") do %>
    <div class="form-group col-xs-12 col-md-6">
      <div>
        <%= label_tag(:start, "From:") %>
      </div>
      <div class="text-left">
        <%= text_field_tag(:start, nil, placeholder: 'Copenhagen', class: "form-control") %>
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-6">
      <div class="text-left">
        <%= label_tag(:finish, "To:") %>
      </div>
      <div class="text-left">
        <%= text_field_tag(:finish, nil, placeholder: 'Berlin', class: "form-control") %>
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-6">
      <!-- div class="text-left">
      </div> -->
      <div class="text-left">
        <%= label_tag(:start_date, "Start date:") %>
        <%= date_field_tag(:start_date, Date.today, class: "form-control") %>
      </div>
    </div>
    <div class="form-group col-xs-12 col-md-6">
      <!-- <div class="text-left">
      </div> -->
      <div class="text-left">
        <%= label_tag(:end_date, "End date:") %>
        <%= date_field_tag(:end_date, Date.today + 1, class: "form-control") %> 
      </div>
    </div>
    <div class="form-group col-xs-12">
      <div>
        <%= label_tag(:name, "Give it a name:") %>
      </div>
      <div class="text-left">
        <%= text_field_tag(:name, nil, placeholder: '"Summer holiday 2018"', class: "form-control") %>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <%= submit_tag("Let's ride", class: "btn btn-danger btn-pm col-xs-12", style: "width: 100%;") %>
    </div>
  </div>
  <% end %>
</div>

