<% if @trip.title.nil? %>
  <%= content_for(:title, "Your trip" + " | PedalMonkey") %>
<% else %>
  <%= content_for(:title, @trip.title + " | PedalMonkey") %>
<% end %>
<div class="container outer-container">
  <div class="col-xs-12 content-box-trip"">
    <div class="content-headline-green">
     <h4>Trip stats</h4>
   </div>
   <div class="row fade-in">

    <div class="col-xs-12 text-center">
      <% unless @trip.title.nil? %>
      <h1><%= @trip.title %></h1>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-3 text-center">
      <h4>Total distance</h4>
      <h2><%= @trip.distance.to_i %> km</h2>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <h4>Average daily distance</h4>
      <h2><%= (@trip.distance / @trip.stages.count).round(2) %> km</h2>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
        <h4>Duration</h4>
        <h2><%= @trip.stages.count %> days</h2>
      </div>
      <div class="col-xs-12 col-sm-3 text-center">
        <h4>Team members</h4>
        <% if @trip.trip_members == nil %>
          <p>
            <em>
              No team members. Sign up to save your trips.
            </em>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info", style: "margin-left: 20px;" %>
          </p>
        <% else %>
          <h2><%= @trip.trip_members.count %></h2>
        <% end %>
      </div>
    </div>
    <div>

      <% if @trip.title.nil? %>
      <div>
        <div>
          <p class="text-center" style="margin-top: 30px;">
            <a data-toggle="collapse" href="#collapse">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Name your trip
            </a>
          </p>
        </div>
        <div id="collapse" class="collapse">
          <div class="col-xs-12">
            <%= simple_form_for @trip, class: "form-inline" do |f|%>
            <div class="text-left">
              <%= f.input :title, label: false, placeholder: '"Summer holiday 2018"', class: "form-control" %>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <%= f.submit("Go ahead", class: "btn btn-success col-xs-12", style: "width: 100%;") %>
          </div>
        </div>
        <% end %> <!-- form end -->

        </div>
        <% end %> <!-- if end -->
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-4">


        <% @stages.each do |stage| %>

        <div class="col-xs-12 content-box">
          <div class="content-headline-green">
            <h4>Stage <%= stage.stage_no %></h4>
          </div>
          <h4><%= stage.stage_date.strftime("%A, %b %e %Y") %></h4>
          <% unless stage.end_point.name.nil? %>
          <p><strong>Hotel:</strong></p>
          <p><%= stage.end_point.name %></p>
          <% end %>
          <p><strong>Start address:</strong></p>
          <p><%= stage.start_point.address %></p>
          <p><strong>Stage finish:</strong></p>
          <p><%= stage.end_point.address %></p>
          <p><strong>Stage distance:</strong></p>
          <p><%= stage.distance.round(1) %> Kilometers</p>
          <p class="text-right">
            <%= link_to trip_stage_path(@trip, stage.id) do %>
            Go to stage <strong><i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
            <% end %>
          </p>
        <!-- <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse<%= stage.stage_no %>">Make a change</a>
              </h4>
            </div>
            <div id="collapse<%= stage.stage_no %>" class="panel-collapse collapse">
              <%= form_for([@trip, stage, stage.end_point]) do |f| %>
              <%= f.label :End %>
              <%= f.text_field :address %>
              <%= f.submit %>
              <% end %>
            </div>
          </div>
        </div> -->
      </div>

      <% end %>
    </div>


    <div class="col-xs-12 col-sm-8 sticky-content">

      <div class="col-xs-12 content-box">
        <div class="content-headline-green">
          <h4>Your route</h4>
        </div>
        <div>
          <div id="directions" class="map"></div>
        </div>
      </div>
    </div>
  </div> <!-- end sticky content -->


  <div class="col-xs-12 col-sm-12 col-sm-offset-0 content-box">
    <div class="content-headline-green">
      <h4>Team</h4>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <h4>Created by:</h4>

      <% if @trip.trip_members.first == nil %>
          <p style="margin-bottom: 30px;">
            No users are associated with the trip
          </p>
      <% else %>
        <%= cl_image_tag @trip.trip_members.first.user.photo.path, class: "avatar-large avatar-bordered", style: "margin-bottom: 40px;" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h4>Invite:</h4>
      <% if @trip.trip_members.first == nil %>
          <p style="margin-bottom: 30px;">
            <%= link_to "Sign up", new_user_registration_path %>  to save your trips and invite other users a long.
          </p>
      <% else %>
        <%= form_for([@trip, @trip_member]) do |f| %>
        <%= f.email_field :user, placeholder: "Email", class: "form-control" %>
        <%= f.submit("Add team member", class: "btn btn-danger btn-pm", style: "margin-bottom: 30px;") %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <% if @trip.trip_members.size == 1 %>
      <h4>Riding alone?</h4>
      <h2><i class="fa fa-arrow-left" aria-hidden="true"></i></strong> Invite your friends!</h2>
      <% else %>
      <h4>Other riders:</h4>
      <% @trip.trip_members.drop(1).each do |member| %>
      <%= cl_image_tag member.user.photo.path, class: "avatar-large avatar-bordered" %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<% start_address = @trip.stages.first.start_point.address %>
<% destination_address = @trip.stages.last.end_point.address %>

<%= content_for(:after_js) do %>

<script>

  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    /* This code iterates over each stage of a user trip and sets the waypoint(s) as the end_point address as defined by the user */

    var waypts = [];
    <% @trip.stages.each do |stage|  %>
    <% break if stage.end_point.final_stop? %>
    var stop = '<%= raw stage.end_point.address %>'
    waypts.push({
      location: stop,
      stopover: true,
    });
    <% end %>

    waypointToggler = waypts[0].location


    /* This code specifies the input of the request sent to the google maps directions API. Origin (start of trip) and destination (end of trip) is defined by the trip user (lines 13:14). Waypoints are given as an array of object(?) */

    var requestWithWaypoints = {
      origin:             '<%= start_address %>',
      destination:        '<%= destination_address %>',
      waypoints:          waypts,
      optimizeWaypoints:  true,
      travelMode:         google.maps.TravelMode.BICYCLING,
      avoidHighways: true
    };

    var request = {
      origin:             '<%= start_address %>',
      destination:        '<%= destination_address %>',
      travelMode:         google.maps.TravelMode.BICYCLING,
      avoidHighways: true
    };
    requestSelector = "placeholder"

    if (waypointToggler === '' ) {
      requestSelector = request } else { requestSelector = requestWithWaypoints }
      console.log(requestSelector)
      /* Not totally sure about this code, but my guess is it fetches information for directions. It gives back a 'response', which contains all the needed */

      directionsService.route(requestSelector, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
          console.log(response)
        }
      });
    }

    /* my guess is this code builds the actual map with the trip,stage,step directions */

    calcRoute();

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'directions'}}, function(){
      directionsDisplay.setMap(handler.getMap());
    });
  </script>

  <% end %>
