<% if @trip.title.nil? %>
<%= content_for(:title, "Your trip | PedalMonkey") %>
<% else %>
<%= content_for(:title, "Stage " + @stage.stage_no.to_s + ": " + @trip.title + " | PedalMonkey") %>
<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container">
  <div class="col-xs-12">
    <h1>Stage no. <%= @stage.stage_no %></h1>
  </div>
  <div class="col-xs-12 col-sm-5">

    <div class="col-xs-12 content-box">
      <div class="content-headline-green">
        <h4>Basic stats</h4>
      </div>
      <p><strong>Date:</strong> <%= @stage.stage_date %></p>
      <p><strong>Start:</strong> <%= @stage.start_point.address %></p>
      <p><strong>Finish:</strong> <%= @stage.end_point.address %></p>
      <%= link_to "BUTTON: link version", edit_trip_stage_pitstop_path(@trip.id, @stage.end_point) %>
    </div>

    <div class="col-xs-12 content-box">
      <div class="content-headline-green">
        <h4>Accommodation</h4>
      </div>
      <% if @stage.end_point.name.nil? %>
      <h4>Choose accommodation: </strong></h4>

      <%= render partial: "accommodation_form" %>

      <% else %>

      <h4><strong><%= @stage.end_point.name %></strong></h4>
      <p>Price: <%= rand(400...1500) %> € a night | Rating: <%= @stage.end_point.rating %></p>
      <hr />
      <p><strong>Choose different accomodation:</strong></p>
        <%= render partial: "accommodation_form" %>
      <% end %>
    </div>
  </div>


  <div class="col-xs-12 col-sm-7 sticky-content">

    <div class="col-xs-12 content-box">
      <div class="content-headline-green">
        <h4>Route and elevation</h4>
      </div>
      <div>
        <div id="chart_div"></div>
        ########### PUT MAP AND ELEVATION GRAPH HERE #########
      </div>
    </div>
  </div>
</div> <!-- end sticky content -->

</div>


<%= content_for(:after_js) do %>

<script>
  google.charts.load('current', {packages: ['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawBasic);

  function drawBasic() {

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Elevation in m');

    <% elevation_array = [] %>
    <% @Elevation_samples.each do |sample| %>
    <% elevation_array << ["", sample[:elevation].to_i] %>
    <% end %>
    <% #raise %>

    data.addRows(<%= raw elevation_array %>);

    var options = {
      title: 'Elevation profile',
      hAxis: {
        title: 'Stage distance',
      },
      vAxis: {
        title: 'Elevation in meters'
      }
    };

    var chart = new google.visualization.ColumnChart(
      document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

<% end %>