
<script>

    function myclick(event) {
      document.getElementById("text").value = "whatever";

    };
</script>
<%= form_for([@trip, @pitstop.end_stage, @pitstop]) do |f| %>
<%= f.text_field :address, class: "form-control", id: "text", name: "address" %>
<%= f.submit class: "btn btn-danger" %>
<% end %>

<% hotel_no = 1 %>
<% @hotels.each do |hotel| %>
<div id="theclick" onclick="myclick(event);" style="cursor: pointer;">

  <h4><%= hotel_no %>: <%= hotel[:name] %></h4>
  <% hotel_no += 1 %>
  <p><%= hotel[:vicinity] %></p>
  <p>Rating: <%= hotel[:rating] %></p>
  
  
</div>

<% end %>

<!-- <button class="btn btn-danger" value=" hotel[:vicinity] " onclick="changeValue( hotel[:vicinity])">Select hotel</button> -->

  <!-- <div>
    <%= form_for([@trip, @pitstop.end_stage, @pitstop]) do |f| %>
    <%= f.label :Address %>
    <%= f.text_field :address %>
    <%= f.submit %>
    <% end %>
  </div> -->

  <%= content_for(:after_js) do %>

  <script>
   function changeValue(o){
     document.getElementById('address').value=o.innerHTML;
   }
 </script>

 <% end %>